.mailTemplates {

    .itemMailTemplate {
        .iconFinger {
            display: none;

            &.active {
                display: block;
            }
        }

        &:hover {
            .iconFinger {
                display: block;
            }
        }
    }
}