.Poster {
  border: 1px solid #bb0409;
  height: 56rem;
  background-image: url(https://website-dev.hn.ss.bfcplatform.vn/340962698_1888401918182897_2966498731149865186_n_0dcf1d9a16.jpg);
  background-size: cover;
  background-position: 10%;
  .poster-second-title {
    color: var(--base);
  }
  .poster-intro,
  .poster-title {
    color: whitesmoke;
  }
}

.box {
  width: 90%;
  border: #bb0409;

  .box-navbar {
    width: 102.4rem;
    .searchbar {
      input.searchInput {
        height: 4.3rem;
        width: 27rem;
        border: 2px solid #bb0409;
        // border-radius: 30px;
        input.searchInput:focus {
          color: #bb0409;
        }
      }

      .searchBtn {
        display: block;
        // border-radius: 100%;
        border: 2px solid #bb0409;
      }
    }
    .courseDropdown {
      width: 10rem;
      color: white;
      background-color: #bb0409;
      border-radius: 15px;
      .ant-dropdown-menu {
        .ant-dropdown-menu-title-content {
          color: #bb0409 !important;
        }
        .ant-dropdown-menu-item-divider {
          color: #bb0409 !important;
        }
      }
    }
  }

  .ListLecturers {
    // margin: 15px auto;
    // display: flex;
    width: 102.4rem;
    // gap: 20px;
    // flex-wrap: wrap;

    .lecturer-item {
      border-bottom: 2px solid #bb0409;
      .LecturerAvatar {
        width: 23.6rem;
        height: 31.5rem;
        background-size: cover;
      }
      .LecturerInfo {
        border-spacing: auto 12px;
        .LecturerName {
          color: #bb0409;
        }

        .LecturerCareer {
          font-size: 16px;
          font-weight: bold;
        }
        .LecturerDiscription {
          width: 23rem;
          color: rgb(91, 91, 91);
        }
      }

      .moreDetails {
        width: 7rem;
        height: 2.7rem;
        color: white;
        background-color: #bb0409;
        border: 1px solid white;
        font-size: 13px;
        display: block;
      }
    }
  }
}
