.introducePage {
    min-height: 100vh;

    .progress-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 0.3rem;
        transform-origin: 0%;
    }

    div.groupUser {
        background-color: var(--base);
        box-shadow: var(--light-base) 0px 8px 24px;
        color: white !important;
    }
}