@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 10px;
}

:root {
    --base: #bb0409;
    --light-base: #fbf3f3;
    --op-base: #fdf4f5;
    --grey-base: #f8fafd;
    --orange-start: #f19b55;
    --bs-color: #606261;
}

.ant-menu {
    ul.ant-menu-sub {
        background-color: white !important;
    }

    li.ant-menu-item-selected {
        background-color: var(--light-base) !important;
        color: var(--base) !important;
    }


    .ant-menu-submenu-selected>.ant-menu-submenu-title {
        color: var(--base) !important;
    }
}

.Toastify {
    div {
        font-size: 1.4rem !important;
    }
}