.Poster {
  border: 1px solid #bb0409;
  height: 56rem;
  background-image: url(https://website-dev.hn.ss.bfcplatform.vn/340962698_1888401918182897_2966498731149865186_n_0dcf1d9a16.jpg);
  background-size: cover;
  background-position: 10%;
  .poster-second-title {
    color: var(--base);
  }
  .poster-intro,
  .poster-title {
    color: whitesmoke;
  }
}

.box {
  width: 90%;
  border: #bb0409;
  // border-bottom: 2px solid #bb0409;
  .box-navbar {
    width: 102.4rem;
    .searchbar {
      .searchInp {
      }

      .searchBtn {
        display: block;
        // border-radius: 100%;
        border: 2px solid #bb0409;
      }
    }
    .dropdown {
      .courseDropdown {
        width: 10rem;
        color: white;
        background-color: #bb0409;
        border-radius: 15px;
        .ant-dropdown-menu {
          .ant-dropdown-menu-title-content {
            color: #bb0409 !important;
          }
          .ant-dropdown-menu-item-divider {
            color: #bb0409 !important;
          }
        }
      }
      .ratedDropdown {
        width: 10rem;
        color: white;
        background-color: #bb0409;
        border-radius: 15px;
        .ant-dropdown-menu {
          .ant-dropdown-menu-title-content {
            color: #bb0409 !important;
          }
          .ant-dropdown-menu-item-divider {
            color: #bb0409 !important;
          }
        }
      }
    }
  }

  .ListLecturers {
    // margin: 15px auto;
    // display: flex;
    width: 102.4rem;
    // gap: 20px;
    // flex-wrap: wrap;

    .lecturer-item {
      border-bottom: 2px solid #bb0409;
      height: fit-content;
      .LecturerAvatar {
        width: 23.6rem;
        height: 31.5rem;
        background-size: cover;
      }
      .LecturerInfo {
        display: grid;
        grid-template-rows: 2rem 1.5rem 5.5rem;
        grid-column-gap: 5px;
        grid-row-gap: 0px;
        .LecturerName {
          color: #bb0409;
        }
        .LecturerDiscription {
          width: 23rem;
          color: rgb(91, 91, 91);
        }
      }
      .viewmore {
        .moreDetails {
          width: 7rem;
          height: 2.7rem;
          color: white;
          background-color: #bb0409;
          border: 1px solid white;
        }
      }
    }
  }
}
